<br>
<div class="profile-container">
  <h1>Hello <%= @user.username %>!</h1>
  <p>Your email account: <%= @user.email %></p>
  <h3>Full Name: <%= @user.name %></h3>
  <h3>Phone Number: <%= @user.phone_number %></h3>
  <h3>Credit Card Number: <%= @user.card %></h3>
  <h3>Bank Account: <%= @user.bank_account %></h3>
  <%= link_to "Edit profile", edit_user_path(@user) %>
  <%= link_to "Edit/Cancel password", edit_user_registration_path %>
</div>
<br>
