<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dxneryfww/image/upload/v1652207367/development/ds3xunfqfrdi2sjekaov.jpg);">
  <div class="container">
    <h1>It's time to ride the car of your dreams</h1>
    <p><em>Rent a luxury car and feel the wind in your face</em></p>
  </div>
</div>
<br>


<!-- Mejorar y poner donde quieran, ya esta funcionando<!-->
<%= form_tag cars_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a movie"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>

<br>
<div class="container">
  <h1>Our cars</h1>
  <div class="cards">
    <% @cars.each do |car|%>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dzldggijz/image/upload/v1651853357/development/<%=car.photo.key%>.jpg)">
      <%= link_to "#{car.brand} #{car.model}", car_path(car), class: "text-white" %>
    </div>
    <% end %>
  </div>
</div>
<br>
