<br>
<div class="new-car container">
  <h1>Tell us about your car</h1>
  <%= simple_form_for @car do |f| %>
    <%= f.input :brand %>
    <%= f.input :model %>
    <%= f.input :year %>
    <%= f.input :category, collection: ['classic', 'sport', 'SUV', 'unique', 'others'] %>
    <%= f.input :city %>
    <%= f.input :price %>
    <%= f.input :photo, as: :file, required: true %>
    <%= f.input :description %>
    <%= f.button :submit %>
  <% end %>
</div>
<br>
