<h1><%= @car.brand%> - <%=@car.model%></h1>
<h4>Model <%= @car.year %></h4>
<h4>Category: <%= @car.category %></h4>
<p><%= @car.description %></p>
<h5>City: <%= @car.city %></h5>
<%= link_to "Back to index", cars_path %><br>
<%= link_to "Edit this car", edit_car_path(@car) %><br>
<%= link_to "Book this car", new_car_reservation_path(@car) %>
<br>
